@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.red-regular {
    font-family: "Red Hat Display", sans-serif !important;
    font-weight: 400;
}

.red-medium {
    font-family: "Red Hat Display", sans-serif !important;
    font-weight: 500;
}

.red-semibold {
    font-family: "Red Hat Display", sans-serif !important;
    font-weight: 600;
}

.red-bold {
    font-family: "Red Hat Display", sans-serif !important;
    font-weight: 700;
}

.red {
    font-family: "Red Hat Display", sans-serif !important;
}

